* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    border: solid red;
}

.content {
    height: 94%;
    width: 96%;
    border: green;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar p {
    text-decoration: none;
    background: white;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.centered {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.readbtn {
    padding: 10px;
    background-color: grey;
    font-size: 20px;
    border-radius: 10px;
}

.one-text {
    color: #fff;
    width: 50%;
}

.btn {
    background: grey;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}